/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
}

body {
  min-height: -webkit-fill-available;
  font-family: 'Poppins', sans-serif;
  @apply bg-blue-50 text-blue-900 dark:bg-gray-900 dark:text-white sm:min-h-screen;
}

#root {
  min-height: -webkit-fill-available;
  @apply flex justify-between flex-col sm:min-h-screen;
}

.emoji {
  /* transform: translateY(0.5rem);
  animation-name: popIn;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; */
}

.btn-icon {
  @apply py-1.5 px-2 bg-gray-100 text-gray-400 border border-gray-300 mx-0.5 rounded dark:border-gray-900 hover:bg-blue-300 hover:border-blue-500 hover:text-blue-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:bg-gray-700 transition-all;
}

header .btn-icon {
  @apply py-1.5 px-2 bg-blue-300 text-blue-700 border border-blue-500 mx-0.5 rounded dark:border-blue-800 hover:bg-blue-500 hover:text-white dark:bg-blue-500 dark:text-blue-800 dark:hover:bg-blue-400 text-lg;
}

header nav a {
  @apply hover:text-blue-700 transition-all;
  text-decoration-color: rgba(29, 78, 216, 0.3);
}

header nav a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgba(29, 78, 216, 0.3);
  text-decoration-thickness: 3px;
}

.btn-form {
}

@keyframes popIn {
  from {
    transform: translateY(0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
