/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white;
}

#root {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white min-h-screen;
}

.emoji {
  /* transform: scale(0);
  animation-name: popIn;
  animation-duration: 800ms; */
  animation-delay: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.btn-icon {
  @apply py-1.5 px-2 bg-gray-300 text-gray-700 border mx-0.5 rounded dark:border-gray-800 hover:bg-gray-500 hover:text-white dark:bg-gray-700 dark:text-gray-300;
}

.btn-form {
  @apply bg-gray-300 px-5 py-2 rounded dark:bg-gray-700 dark:text-white;
}

input[type='text'] {
  @apply dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:border-gray-500;
}

@keyframes popIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
